html, body {
    width: 100%;
    height: 100%;
    overflow: hidden
}

body {
    background: #00140b;
}

    body:after {
        content: '';
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

.logo-title em {
    display: block;
    margin-top: 8px;
    color: #009688;
    font-size: 15px;
    font-weight: bold;
}

.layui-container {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.admin-login-background {
    width: 420px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -180px;
    margin-top: -100px;
}

.logo-title {
    text-align: center;
    padding: 14px 0;
}

.layui-form .banquan {
    color: #009688;
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}

.logo-title h1 {
    color: #009688;
    font-size: 25px;
    font-weight: bold;
}

.login-form {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 35px 24px;
    box-shadow: 0 0 30px #eeeeee;
}

    .login-form .layui-form-item {
        position: relative;
    }

        .login-form .layui-form-item label {
            position: absolute;
            left: 1px;
            top: 1px;
            width: 38px;
            line-height: 36px;
            text-align: center;
            color: #d2d2d2;
        }

        .login-form .layui-form-item input {
            padding-left: 36px;
        }

.captcha {
    width: 60%;
    display: inline-block;
}

.captcha-img {
    display: inline-block;
    width: 34%;
    float: right;
}

    .captcha-img img {
        height: 34px;
        border: 1px solid #e6e6e6;
        height: 36px;
        width: 100%;
    }
