body {
    margin: 15px 15px 15px 15px;
    background: #f2f2f2;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}
/**按钮框*/
.layui-btn {
    border-color: #409eff;
    height: 33px;
    border-radius: 100px !important;
}
.list-search {
    background-color: #f2f2f2;
    padding: 12px 15px
}

.layui-layout-admin .layui-body {
    bottom: 0
}

.layui-layout-admin .layui-bg-black {
    background: #030304 !important;
    width: 220px
}

.layui-layout-admin .layui-logo {
    background: #20222A !important;
    color: #fff;
    width: 220px
}

.layui-nav-tree {
    width: 220px
}

.layui-nav .layui-nav-item a {
    padding-left: 25px
}

.layui-layout-admin .layui-header {
    background-color: #fff;
    box-shadow: 0 0px 0px 1px rgba(100,100,100,.1)
}

.layui-header .layui-nav {
    color: #495060
}

    .layui-header .layui-nav .layui-nav-item > a {
        color: #495060
    }

.layui-nav-tree .layui-nav-item > a:hover {
    background-color: #48576a
}

.pr50 {
    margin-right: 50px
}

.layui-nav-item .username {
    display: inline-block;
    margin-right: 15px
}

.layui-nav-item .layui-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px
}

.layui-nav-item .username .layui-icon {
    font-size: 12px
}

.layui-header .layui-nav .layui-nav-item a {
    font-size: 12px
}

.layui-nav-tree .layui-nav-child a {
    color: #ffff
}
 .layui-nav-tree .layui-nav-item a i {
    margin-right: 8px;
    font-size: 16px
}

.tab-pane {
    width: 100%;
    height: 99.6%
}

.list-wall {
    padding: 12px 12px 0 12px
}

.list-search {
    background-color: #f2f2f2;
    padding: 12px 15px
}

.layui-btn-container.list-search {
    padding: 0
}

.layui-btn-container h4 {
    font-size: 16px
}

.list-search .layui-form-label {
    width: auto;
    padding: 5px 15px
}

.list-search .layui-input, .list-search .layui-input.layui-input-sm {
    height: 34px;
    line-height: 34px;
    padding: 0 10px
}

.list-search .layui-form-select dl {
    top: 33px
}

.list-search .layui-btn-sm {
    font-size: 14px;
    padding: 0 15px;
    height: 32px;
    line-height: 31px
}

.list-search .layui-inline {
    margin-right: 15px
}

    .list-search .layui-inline .layui-form-switch {
        margin-top: 0
    }

.layui-btn-container .layui-btn-sm {
    font-size: 14px;
    padding: 0 15px;
    height: 32px;
    line-height: 31px
}

.layui-nav-tree .layui-nav-item > a, .layui-nav-tree .layui-nav-child a {
    font-size: 13.3333px
}

.layui-btn, .layui-input, .layui-table td, .layui-table th, .layui-nav {
    border-radius: 4px;
    font: 400 13.3333px Arial
}

.layui-header .layui-nav-bar {
    top: 0 !important;
    height: 2px
}

.layui-table-cell .layui-badge {
    margin: 0 5px
}

.layui-elem-quote {
    border-radius: 4px
}

    .layui-elem-quote.layui-elem-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        font-size: 12px
    }

    .layui-elem-quote i {
        font-size: 22px;
        margin-right: 5px;
        vertical-align: middle
    }

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #409eff
}

.layui-layout-right.layui-nav .layui-this:after {
    display: none
}

.layui-nav-item.show-down .layui-downcard {
    display: block
}

.layui-downcard {
    border: 1px solid rgba(182,182,182,.1);
    padding: 0 0 20px;
    min-width: 100%;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    overflow: hidden;
    top: calc(63px - 2px);
    font-size: .9rem;
    margin-top: 0;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    width: 360px;
    right: 0;
    animation-name: dropdownAnimation;
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    -ms-animation-duration: .25s;
    -o-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    display: none
}

    .layui-downcard .drop-notific-title {
        border-bottom: 1px solid #ebedf2;
        padding: 15px;
        line-height: 20px
    }

        .layui-downcard .drop-notific-title span strong {
            color: #409eff
        }

        .layui-downcard .drop-notific-title a {
            float: right;
            padding: 2px 12px;
            border-radius: 30px;
            font-size: 12px;
            display: inline-block;
            line-height: 20px;
            background-color: #409eff;
            color: #fff
        }

    .layui-downcard .mess-item {
        padding: 15px 25px 15px 80px;
        border-bottom: 1px solid #ebedf2;
        line-height: 20px;
        position: relative
    }

        .layui-downcard .mess-item p {
            font-size: .75rem;
            color: #888
        }

        .layui-downcard .mess-item span {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 25px;
            display: block;
            border-radius: 50%;
            background-color: #00ce68;
            color: #fff;
            text-align: center;
            line-height: 40px
        }

            .layui-downcard .mess-item span i {
                font-size: 15px;
                margin-right: 0
            }

        .layui-downcard .mess-item:last-child {
            border-bottom: none
        }

.layui-col-220 {
    width: 220px;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transition: position,.2s,linear;
    -moz-transition: position,.2s,linear;
    background-color: #eaedf1
}

    .layui-col-220 .layui-nav-title {
        width: 100%;
        height: 70px;
        line-height: 70px;
        background: #d9dee4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        text-indent: 20px
    }

.right-col-body {
    left: 220px;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease
}

.layui-tree-cus li {
    padding: 4px 0
}

.layui-nav-tree .layui-nav-bar {
    background-color: #409eff
}

.fyt-nav-tree .layui-nav-child dd.layui-this, .fyt-nav-tree .layui-nav-child dd.layui-this a {
    background-color: #409eff !important
}

.layui-first-nav .layui-nav-item a {
    font-size: 14px !important
}

.layui-first-nav .layui-nav-item i {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
    display: inline-block
}

.layui-first-nav .layui-this:after {
    height: 2px !important;
    background-color: #409eff
}

.layui-first-nav .layui-nav-bar {
    top: 59px !important
}

.layui-first-nav .layui-this a {
    color: #409eff !important
}

.layui-nav-bar {
    background-color: #409eff
}

[v-cloak] {
    display: none !important
}

.layui-cur-submit {
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 0
}

    .layui-cur-submit .layui-input-block {
        margin-left: 0
    }

    .layui-cur-submit .layui-btn {
        padding: 10px 35px;
        height: auto
    }



button.layui-btn {
    box-shadow: 1px 2px 10px 0 rgba(64,158,255,.5)
}

a.layui-btn {
    line-height: 33px
}

.layui-btn:hover {
    color: #fff;
    border-color: #409eff;
    background-color: #409eff
}

.layui-laypage .layui-laypage-curr .layui-laypage-em, .layui-form-checked[lay-skin=primary] i {
    background-color: #409eff;
    border-color: #409eff
}

.layui-form-onswitch {
    border-color: #13ce66;
    background-color: #13ce66
}

.layui-btn.layui-btn-primary {
    background-color: #1e9fff;
    color: #fbfbfb;
}

    .layui-btn.layui-btn-primary:hover {
        background-color: #ecf5ff;
        border-color: #5faeff;
        color: #5faeff
    }

a.layui-btn-xs {
    height: 22px !important;
    line-height: 22px
}

.layui-input, .layui-select, .layui-textarea {
    border-radius: 3px !important
}

    .layui-input:hover, .layui-select:hover, .layui-textarea:hover, .layui-input:focus, .layui-select:focus, .layui-textarea:focus {
        border: 1px solid #409eff !important
    }

.layui-form-select dl dd.layui-this {
    background-color: #409eff
}

.layui-btn-disabled {
    border: 1px solid #e6e7e8;
    background-color: #e6e7e8 !important;
    color: #666 !important
}

    .layui-btn-disabled:hover {
        border: 1px solid #e6e7e8 !important
    }

.layui-nav-title span {
    display: inline-block;
    margin-right: 20px
}

.layui-btn-sm {
    padding: 0 15px
}

.layui-form-switch {
    min-width: 45px
}

.layui-input-block .switch-tip {
    display: inline-block;
    margin-right: 30px;
    margin-left: 5px;
    position: relative;
    top: 5px
}

.layui-btn-group .layui-btn {
    border-radius: 0 !important;
    border-left: 1px solid rgba(255,255,255,.5) !important
}

    .layui-btn-group .layui-btn:first-child {
        border-bottom-left-radius: 30px !important;
        border-top-left-radius: 30px !important
    }

    .layui-btn-group .layui-btn:last-child {
        border-bottom-right-radius: 30px !important;
        border-top-right-radius: 30px !important
    }

.layui-badge-dot.layui-bg-black {
    width: 8px !important
}

.layui-body {
    z-index: 60 !important;
    left: 220px
}

.layui-layer {
    box-shadow: 0 1px 3px rgba(0,0,0,.3) !important
}

.lay-time-icon .layui-icon {
    position: absolute;
    right: 10px;
    top: 9px
}

.form-cus {
    padding: 15px 35px 0 0
}

    .form-cus.form-tab {
        padding: 0 20px 0 15px
    }

        .form-cus.form-tab .layui-tab-item {
            padding-top: 10px
        }

        .form-cus.form-tab .add-icons {
            text-align: center;
            cursor: pointer
        }

            .form-cus.form-tab .add-icons i {
                vertical-align: middle;
                margin-right: 5px
            }

.ztree * {
    font-size: 13.3333px !important
}

.ztree li a {
    height: 28px !important
}

.tree-footer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #f2f2f2;
    bottom: 0;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    display: none
}

    .tree-footer.active {
        bottom: 0;
        display: block
    }

.city-picker-span > .placeholder {
    padding-left: 10px;
    color: #777
}

.city-picker-dropdown {
    width: 450px !important;
    left: 1px !important
}

.city-picker-span {
    overflow: hidden
}

.nav-logo {
    height: 50px
}

.layui-fluid {
    padding: 15px
}

.layui-carousel[lay-arrow=none] .layui-carousel-arrow {
    display: none
}

.layadmin-carousel .layui-carousel, .layadmin-carousel > [carousel-item] > * {
    background-color: #fff
}

.layadmin-carousel .layui-col-space10 {
    margin: 0
}

.layadmin-carousel .layui-carousel-ind {
    position: absolute;
    top: -41px !important;
    text-align: right
}

    .layadmin-carousel .layui-carousel-ind ul {
        background: 0 0
    }

    .layadmin-carousel .layui-carousel-ind li.layui-this {
        background-color: #999
    }

    .layadmin-carousel .layui-carousel-ind li:hover {
        background-color: #c2c2c2
    }

    .layadmin-carousel .layui-carousel-ind li {
        background-color: #e2e2e2
    }

.layadmin-carousel[lay-indicator=outside] .layui-carousel-ind ul {
    background: 0 0
}

.layadmin-shortcut li {
    text-align: center
}

    .layadmin-shortcut li .layui-icon {
        display: inline-block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 2px;
        font-size: 30px;
        background-color: #f8f8f8;
        color: #333;
        transition: all .3s;
        -webkit-transition: all .3s
    }

    .layadmin-shortcut li cite {
        position: relative;
        top: 2px;
        display: block;
        color: #666;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px
    }

    .layadmin-shortcut li:hover .layui-icon {
        background-color: #f2f2f2
    }

.layadmin-backlog .layadmin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.layadmin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.layadmin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #46be8a
}

.layadmin-backlog-body:hover {
    background-color: #f2f2f2;
    color: #888
}

.layadmin-takerates {
    padding-top: 5px
}

    .layadmin-takerates .layui-progress {
        margin: 45px 0 53px
    }

        .layadmin-takerates .layui-progress:last-child {
            margin-bottom: 10px
        }

        .layadmin-takerates .layui-progress h3 {
            position: absolute;
            right: 0;
            top: -35px;
            color: #999;
            font-size: 14px
        }

    .layadmin-takerates .layui-progress-bar {
        text-align: left
    }

    .layadmin-takerates .layui-progress-text {
        top: -35px;
        line-height: 26px;
        font-size: 22px
    }

.layui-form-item .layui-inline {
    margin-right: 0
}

.layui-form-item .layui-input-inline {
    margin-right: 0;
    width: 230px
}