
@page
@model ShenNius.Client.Admin.Pages.Sys.SetMenuModel
@{
}
<form class="layui-form" action="" lay-filter="role-edit">
    <div class="layuimini-container layuimini-page-anim">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form">
                @if (Model.RoleId > 0)
                {
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" lay-verify="id" value="@Model.RoleId" disabled class="layui-input">
                        </div>
                    </div>
                }
                <div class="layui-form-item">
                    <label class="layui-form-label required">角色名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" lay-reqtext="角色名不能为空" placeholder="请输入角色名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section js{
    <script>
        layui.use(['form', 'common'], function () {
            var form = layui.form,
                layer = layui.layer,
                apiUtil = layui.common;
            /**
             * 初始化表单，要加上，不然刷新部分组件可能会不加载
             */
            // 当前弹出层，防止ID被覆盖
            var parentIndex = layer.index;
            apiUtil.ajax('menu/list', {}, "application/json", "get", function (res) {
                if (res.statusCode == 200 && res.success == true) {
                    form.val("role-edit", res.data);
                }
            });

            form.render();
            //监听提交
            form.on('submit(saveBtn)', function (data) {
                if (data.field.id > 0) {
                    apiUtil.ajax('role/modify', data.field, "application/json", "put", function (res) {
                        console.log("msg:" + res.msg);
                        if (res.statusCode == 200 && res.success == true) {
                            layer.msg(res.msg);
                            layer.close(parentIndex);
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                }
                return false;
            });
        });
    </script>
}