@page
@model ShenNius.Client.Admin.Pages.Sys.SetRoleModel
@{
}

<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="btnOk">确认保存</button>
            </div>
        </script>
        @*<script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="setAuth">授权</a>
        </script>*@
    </div>
</div>
@section js{
    <script>
    layui.use(['form', 'layer', 'table',  'element', 'common'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            apiUtil = layui.common,
            layer = layui.layer;

         apiUtil.render({
            elem: '#currentTableId',
            url: 'role/get-list-pages',
             toolbar: '#toolbarDemo',
            authorizeFields: true, // 字段权限开关
            autoColumnWidth: true,
            overflow: { // 默认所有表格都超出
                type: 'tips'
                , hoverTime: 300 // 悬停时间，单位ms, 悬停 hoverTime 后才会显示，默认为 0
                , color: 'black' // 字体颜色
                , bgColor: 'white' // 背景色
                , header: true, // 表头支持 overflow
                total: true // 合计行支持 overflow
            },
            cols: [[
                { type: "checkbox", width: 50 },
                { field: 'id', width: 80, title: 'ID', sort: true },
                { field: 'name', width: 80, title: '角色名' },
                { field: 'description', title: '备注' },
                //{ title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center" }
            ]],
            parseData: function (res) {
                return apiUtil.parseDataFun(res);
            }
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'btnOk') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data,
                    listIds = [];
                if (data.length > 0) {
                    for (var i in data) {
                        listIds.push(data[i].id);
                    }
                    var userId =@Model.UserId;
                    var obj = { userId:userId, roleIds:listIds };
                    apiUtil.ajax('user/set-role',  obj , "application/json", "post", function (res) {
                            if (res.statusCode == 200 && res.success == true) {
                                layer.msg(res.msg);
                                layer.close(index);
                            } else {
                                layer.msg(res.msg);
                            }
                        });
                } else {
                    layer.msg("请选择需要分配的角色");
                }
            }
        });
    });
    </script>
}