@page
@model ShenNius.Client.Admin.Pages.Sys.UserModel

<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="setRole"> 设置角色 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>

@section js{
    <script>
        layui.use(['form', 'layer', 'table', 'element', 'common'], function () {
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                apiUtil = layui.common,
                layer = layui.layer;

           apiUtil.render({
                elem: '#currentTableId',
                url: 'user/get-list-pages',
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                authorizeFields: true, // 字段权限开关
                autoColumnWidth: true,
                overflow: { // 默认所有表格都超出
                    type: 'tips'
                    , hoverTime: 300 // 悬停时间，单位ms, 悬停 hoverTime 后才会显示，默认为 0
                    , color: 'black' // 字体颜色
                    , bgColor: 'white' // 背景色
                    , header: true, // 表头支持 overflow
                    total: true // 合计行支持 overflow
                },
                cols: [[
                    { type: "checkbox", width: 50 },
                    { field: 'id', width: 80, title: 'ID', sort: true },
                    { field: 'name', width: 80, title: '用户名' },
                    { field: 'trueName', title: '真实姓名' },
                    { field: 'ip', width: 80, title: 'IP' },
                    { field: 'address', width: 120, title: '地址' },
                    { field: 'email', width: 120, title: '邮箱' },
                    { field: 'mobile', width: 120, title: '手机号' },
                    { field: 'createTime', title: '创建时间' },
                    { field: 'lastLoginTime', title: '最后登录时间' },
                    { title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center" }
                ]],
                parseData: function (res) {
                    return apiUtil.parseDataFun(res);
                }
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var result = JSON.stringify(data.field);
                layer.alert(result, {
                    title: '最终的搜索信息'
                });
                //执行搜索重载
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    }
                    , where: {
                        searchParams: result
                    }
                }, 'data');
                return false;
            });

            function refeshTable() {
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    }
                }, 'data');
            };
            /**
            /**
             * toolbar事件监听
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                var checkStatus = table.checkStatus('currentTableId'), data = checkStatus.data;
                if (obj.event === 'add') {
                    var content = '/sys/user-modify';
                    var index = layer.open({
                        title: '添加用户',
                        type: 2,
                        shade: 0.2,
                        //maxmin:true,
                        shadeClose: false,
                        area: ['660px', '580px'],
                        zIndex: "10000",
                        content: content,
                        end: function () {
                            refeshTable();
                        }
                    });

                } else if (obj.event === 'delete') {  // 监听删除操作

                    var listIds = [];
                    if (data.length > 0) {
                        for (var i in data) {
                            listIds.push(data[i].id);
                        }
                        layer.confirm('您确定执行该操作吗？', { icon: 3, title: '提示信息' }, function (index) {
                            apiUtil.ajax('user/deletes', { ids: listIds }, "application/json", "delete", function (res) {
                                if (res.statusCode == 200 && res.success == true) {
                                    layer.msg(res.msg);
                                    layer.close(index);
                                    refeshTable();
                                } else {
                                    layer.msg(res.msg);
                                }
                            });
                        })
                    } else {
                        layer.msg("请选择需要删除的数据");
                    }
                } else if (obj.event === 'setRole') {
                    if (data.length <= 0) {
                        layer.msg("请选择需要操作的数据");
                        return;
                    }
                    if (data.length>=2) {
                        layer.msg("请选择一位用户进行角色分配");
                        return;
                    }
                    var content = '/sys/set-role?id=' + data[0].id;                   
                    var index = layer.open({
                        title: '设置角色',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['660px', '580px'],
                        content: content, 
                        end: function () {
                            refeshTable();
                        },
                        btn: ['确定', '关闭']
                    });
                }
            });

            //监听表格复选框选择
            table.on('checkbox(currentTableFilter)', function (obj) {
                console.log(obj)
            });

            table.on('tool(currentTableFilter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    var content = '/sys/user-modify?id=' + data.id;
                    var index = layer.open({
                        title: '编辑用户',
                        // tips: [1, '#c00'],
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['680px', '600px'],
                        content: content,
                        end: function () {
                            refeshTable();
                        }
                    });
                    return false;
                } else if (obj.event === 'delete') {
                    layer.confirm('真的删除吗', function (index) {
                        var listIds = new Array();
                        listIds[0] = data.id;
                        apiUtil.ajax('user/deletes', { ids: listIds }, "application/json", "delete", function (res) {
                            if (res.statusCode == 200 && res.success == true) {
                                layer.msg(res.msg);
                                layer.close(index);
                                refeshTable();
                            } else {
                                layer.msg(res.msg);
                            }
                        });
                    });
                }
            });

        });
    </script>
}