@page
@model ShenNius.Client.Admin.Pages.Sys.LogDetailModel

<style>
    .layui-form-item .layui-input {
        width: 350px;
        padding-right: 10px;
        line-height: 38px;
    }

    .layui-form-item .layui-textarea {
        width: 350px;
    }
</style>
<form class="layui-form" action="" lay-filter="user-edit">
    <div class="layuimini-container layuimini-page-anim">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form">
                @if (Model.Id > 0)
                {
                    <div class="layui-form-item">
                        <label class="layui-form-label">编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" lay-verify="id" value="@Model.Id" disabled class="layui-input">
                        </div>
                    </div>
                }
                <div class="layui-form-item">
                    <label class="layui-form-label required">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label required">浏览器信息</label>
                    <div class="layui-input-block">
                        <textarea name="browser" lay-verify="required" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label required">异常信息</label>
                    <div class="layui-input-block">
                        <textarea name="exception" lay-verify="required" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
            layui.config({
                base: '/js/lay-module/self/'
            });
            layui.use(['form', 'miniPage', 'common'], function () {
                var form = layui.form,
                    layer = layui.layer,
                    apiUtil = layui.common,
                    miniPage = layui.miniPage;

                /**
                 * 初始化表单，要加上，不然刷新部分组件可能会不加载
                 */
                // 当前弹出层，防止ID被覆盖
                var parentIndex = layer.index;
                var id=@Model.Id;
                if (id > 0) {
                    apiUtil.ajax('log/detail', { id: id }, "application/json", "get", function (res) {
                        if (res.statusCode == 200 && res.success == true) {
                            form.val("user-edit", res.data);
                        }
                    });
                }
                form.render();
            });

</script>

