@page
@model ShenNius.Client.Admin.Pages.Sys.UserModifyModel
    <style>
        .layui-form-item .layui-input {
            width: 350px;
            padding-right: 10px;
            line-height: 38px;
        }
        .layui-form-item .layui-textarea {
            width: 350px;
        }
    </style>
    <form class="layui-form" action="" lay-filter="user-edit">
        <div class="layuimini-container layuimini-page-anim">
            <div class="layuimini-main">

                <div class="layui-form layuimini-form">
                    <div class="layui-form-item layui-hide">
                        <label class="layui-form-label">编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" lay-verify="id" readonly autocomplete="off" placeholder="请输入账户" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">账号</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="required" lay-reqtext="账号不能为空" placeholder="请输入用户账号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">真实姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="trueName" lay-verify="required" lay-reqtext="真实姓名不能为空" placeholder="请输入真实姓名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" value="admin" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label required">手机</label>
                        <div class="layui-input-block">
                            <input type="text" name="mobile" lay-verify="required" lay-reqtext="手机不能为空" placeholder="请输入手机" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="email" name="email" placeholder="请输入邮箱" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注信息</label>
                        <div class="layui-input-block">
                            <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <script>
            layui.config({
                base: '/js/lay-module/self/'
            });
            layui.use(['jquery','form', 'miniPage', 'common'], function () {
                var form = layui.form,
                    $ = layui.$,
                    layer = layui.layer,
                    apiUtil = layui.common,
                    miniPage = layui.miniPage;

                /**
                 * 初始化表单，要加上，不然刷新部分组件可能会不加载
                 */
                var parentIndex = layer.index;
                var router = layui.router();
                let currentId = router.search.id;
 
                console.log("id:" + currentId)
                console.log("parentIndex:" + parentIndex)
                var user = apiUtil.getCurrentUser();
               // console.log("userId:" + user.id);
                apiUtil.ajax('user/get-user', { id: user.id }, "application/json", "get", function (res) {
                    if (res.statusCode == 200 && res.success == true) {
                        form.val("user-edit", res.data);
                    }
                });
                form.render();
                //监听提交
                form.on('submit(saveBtn)', function (data) {
                    var index = layer.alert(JSON.stringify(data.field), {
                        title: '最终的提交信息'
                    }, function () {
                        layer.close(index);
                        miniPage.hashHome();
                    });
                    return false;
                });
            });
        </script>
