@{
    ViewData["Title"] = "回收站列表 ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" required>内容</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" autocomplete="off" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete" onclick="existAuth('deletes')"> 批量删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-restore" lay-event="restore" onclick="existAuth('restore')">还原</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete" onclick="existAuth('delete')">删除</a>
        </script>

    </div>
</div>

@section js{
    <script>
        layui.use(['form', 'layer', 'table', 'element', 'common'], function () {
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                apiUtil = layui.common,
                layer = layui.layer;
            //layui button onclick必须这样写，不然会出现事件未定义；
            window.existAuth = function (btnName) {
                /*
                 第一个参数是列表名称和数据库nameCode一定要对应;
                 第二个参数是按钮名称和数据库的btnName也要对应的;
                 event 阻止事件冒泡；
                */
                apiUtil.checkAuth("recycle", btnName, event);
            };
            var tableIns = apiUtil.render({
                elem: '#currentTableId',
                url: 'recycle/getListPages',
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                authorizeFields: true, // 字段权限开关
                autoColumnWidth: true,
                overflow: { // 默认所有表格都超出
                    type: 'tips'
                    , hoverTime: 300 // 悬停时间，单位ms, 悬停 hoverTime 后才会显示，默认为 0
                    , color: 'black' // 字体颜色
                    , bgColor: 'white' // 背景色
                    , header: true, // 表头支持 overflow
                    total: true // 合计行支持 overflow
                },
                cols: [[
                    { type: "checkbox", width: 50 },
                    { field: 'id', title: 'ID', sort: true },
                    { field: 'tenantName', title: '租户名称' },
                    { field: 'userName', title: '删除人名称' },
                    { field: 'tableType', title: '表名' },
                    { field: 'createTime', title: '创建时间' },
                    { field: 'remark', title: '操作内容', width: 500, align: "left"  },
                   

                    { title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center" }
                ]],
                parseData: function (res) {
                    return apiUtil.parseDataFun(res);
                }
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                //var result = JSON.stringify(data.field);

                //执行搜索重载
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    }
                    , where: {
                        key: data.field.title
                    }
                }, 'data');
                return false;
            });

            /**
             * toolbar事件监听
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                if (obj.event === 'delete') {  // 监听删除操作
                    var checkStatus = table.checkStatus('currentTableId')
                        , data = checkStatus.data,
                        listIds = [];
                    if (data.length > 0) {
                        for (var i in data) {
                            listIds.push(data[i].id)
                        }
                        // console.log("listIds:" + listIds);
                        layer.confirm('您确定执行该操作吗？', { icon: 3, title: '提示信息' }, function (index) {
                            apiUtil.ajax('recycle/deletes', { ids: listIds }, "application/json", "delete", function (res) {
                                console.log(res.msg);
                                if (res.statusCode == 200 && res.success == true) {
                                    layer.msg(res.msg);
                                    layer.close(index);
                                    parent.location.reload();
                                } else {
                                    layer.msg(res.msg);
                                }
                            });
                        });
                    } else {
                        layer.msg("请选择需要删除的数据");
                    }
                }
            });

            //监听表格复选框选择

            table.on('tool(currentTableFilter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'restore') {
                    layer.confirm('确定还原吗', function (index) {
                        var listIds = new Array();
                        listIds[0] = data.id;
                        apiUtil.ajax('recycle/restore', { ids: listIds }, "application/json", "post", function (res) {
                            if (res.statusCode == 200 && res.success == true) {
                                layer.msg(res.msg);
                                layer.close(index);
                                parent.location.reload();
                            } else {
                                layer.msg(res.msg);
                            }
                        });
                    });
                    return false;
                } else if (obj.event === 'delete') {
                    layer.confirm('真的删除行么', function (index) {
                        var listIds = new Array();
                        listIds[0] = data.id;
                        apiUtil.ajax('recycle/deletes', { ids: listIds }, "application/json", "delete", function (res) {
                            if (res.statusCode == 200 && res.success == true) {
                                layer.msg(res.msg);
                                layer.close(index);
                                parent.location.reload();
                            } else {
                                layer.msg(res.msg);
                            }
                        });
                    });
                }
            });

        });
    </script>
}
