@page
@model ShenNius.Layui.Admin.Pages.Cms.ArticleModifyModel
@using Microsoft.Extensions.Options;
@using ShenNius.Layui.Admin.Model;
@inject IOptionsMonitor<DomainConfig> domainConfig
@section css{
    <link href="~/css/article.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="/lib/jq-module/zyupload/zyupload-1.0.0.min.css?v=1" media="all" asp-append-version="true">*@
}
<div id="container">
    <form class="layui-form form-cus form-back" action="" id="app">
        <div class="panel-body">
            <div class="panel-addpic">
                <div class="text">基本属性</div>
                <div class="form-cur-wall">
                    <label>所属栏目：</label>
                    <div class="layui-input-block">
                        <select name="columnId" lay-verify="required" lay-search="">
                            <option value="0">父级</option>
                        </select>
                    </div>
                </div>
                <div class="form-cur-wall">
                    <label>作者：</label>
                    <div class="layui-input-block">
                        <input type="text" name="author" placeholder="" maxlength="30" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="form-cur-wall">
                    <label>来源：</label>
                    <div class="layui-input-block">
                        <input type="text" name="source" maxlength="40" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <div class="form-cur-wall">
                    <label style="line-height:inherit;">内容属性：</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="audit" lay-skin="primary" title="审核状态">
                        <input type="checkbox" name="isTop" lay-skin="primary" title="是否推荐">
                        <input type="checkbox" name="isHot" lay-skin="primary" title="是否热点">
                        <input type="checkbox" name="isComment" lay-skin="primary" title="是否允许评论">
                        <input type="checkbox" name="isRecycle" lay-skin="primary" title="是否在回收站">
                    </div>
                </div>

              
                <div class="text else">扩展属性</div>
                <div class="form-cur-wall">
                    <label>文章标签：</label>
                    <div class="layui-input-block">
                        <input type="text" name="tag" placeholder="以逗号隔开" maxlength="100" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="form-cur-wall">
                    <label>转向连接：</label>
                    <div class="layui-input-block">
                        <input type="text" name="linkUrl" placeholder="以http开头" maxlength="100" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div style="height:50px;"></div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" maxlength="100" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">副标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="subTitle" maxlength="500" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-col-xs12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO关键词</label>
                        <div class="layui-input-block">
                            <textarea name="keyWord" class="layui-textarea" style="min-height: 60px;" placeholder="SEO关键字，填写利于抓取，英文逗号分隔"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 layui-col-xs12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO描述</label>
                        <div class="layui-input-block">
                            <textarea name="summary" class="layui-textarea" style="min-height: 60px;" placeholder="SEO描述，填写利于抓取，最多200个字"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文章内容</label>
                    <div class="layui-input-block">
                        <textarea id="content" name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            @*<div class="layui-row">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">文章图片</label>
                        <div id="zyupload" class="zyupload" style="margin-left:108px;"></div>
                    </div>
                </div>*@
            <div class="layui-form-item">
                <div class="layui-input-block">
                    @*<button class="layui-btn" lay-submit="" lay-filter="submit" id="submit"><i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>立即提交</button>*@
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                    <button type="button" class="layui-btn layui-btn-primary btn-open-close" onclick="history.go(-1)">返回列表</button>
                </div>
            </div>
        </div>
    </form>
</div>
@section js{
    <script src="/lib/tinymce/tinymce.min.js"></script>
    <script src="/lib/tinymce/langs/zh_CN.js"></script>
    @*<script src="~/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
        <script src="/lib/jq-module/zyupload/zyupload-1.0.0.min.js" charset="utf-8"></script>*@
    <script>
    tinymce.init({
        selector: '#content',
        height: 400,
        image_advtab: true,//开启图片上传的高级选项功能
        images_upload_url: '@domainConfig.CurrentValue.ApiHost/article/QiniuFile',//图片上传
        plugins: 'print preview code searchreplace autolink directionality visualblocks visualchars fullscreen image link media codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help filemanager',
        toolbar: 'formatselect styleselect | bold italic forecolor backcolor | link filemanager | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat'
    });
            layui.use(['form',  'common'], function () {
                var form = layui.form,
                    $ = layui.$,
                    apiUtil = layui.common;

                /**
                 * 初始化表单，要加上，不然刷新部分组件可能会不加载
                 */
                // 当前弹出层，防止ID被覆盖
                var parentIndex =  parent.layer.getFrameIndex(window.name);

                @*var id=@Model.Id;
                if (id > 0) {
                    apiUtil.ajax('column/detail', { id: id }, "application/json", "get", function (res) {
                        if (res.statusCode == 200 && res.success == true) {
                            form.val("column-edit", res.data);
                            BindParentColumn(res.data.parentId)
                        }
                    });
                } else {
                    BindParentColumn();
                }*@
                BindParentColumn();
                form.render();
                //监听提交
                form.on('submit(saveBtn)', function (data) {
                    if (data.field.id>0) {
                        apiUtil.ajax('article/modify', data.field, "application/json", "put", function (res) {
                            //console.log("msg:" + res.msg);
                            if (res.statusCode == 200 && res.success == true) {
                                apiUtil.success(res.msg);
                                parent.layer.close(parentIndex);
                            } else {
                                apiUtil.error(res.msg);
                            }
                        });
                    } else {
                        apiUtil.ajax('article/add', data.field, "application/json", "post", function (res) {
                            if (res.statusCode == 200 && res.success == true) {
                                apiUtil.success(res.msg);
                                parent.layer.close(parentIndex);
                            } else {
                                apiUtil.error(res.msg);
                            }
                        });
                    }
                    return false;
                });

                function BindParentColumn(value) {
                    apiUtil.ajax('column/get-all-parent-column', {}, "application/json", "get", function (res) {
                        if (res.statusCode == 200 && res.success == true) {
                            if (res.data !== null) {
                                var select = $("#columnId");
                                for (var i = 0; i < res.data.length; i++) {
                                    var val = res.data[i].id;
                                    if (val === value)
                                        select.append("<option value='" + val + "' selected>" + res.data[i].title + "</option>");  //添加option
                                    else
                                        select.append("<option value='" + val + "'>" + res.data[i].title + "</option>");  //添加option
                                }
                                layui.form.render('select');
                            }
                        }
                    });
                }
            });

    </script>
}